@media screen and (max-width: 820px) {
  .control-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3em;
  }

  img {
    display: none;
  }
}
@media screen and (max-width: 570px) {
  body {
    font-size: 10px;
  }
  .game-over .game-over-title {
    top: 40%;
  }
}

@media screen and (max-width: 415px) {
  body {
    font-size: 8px;
  }

  .game-over .game-over-title {
    top: 38%;
  }
}

@media screen and (max-width: 340px) {
  body {
    font-size: 7px;
  }

  .game-over .game-over-title {
    top: 36%;
  }
}

@media screen and (min-height: 640px) and (orientation: portrait) {
}
