* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/wallpaper.jpg) center no-repeat;
  background-size: cover;
  font-family: "Corben", cursive;
  font-size: 14px;
  background-color: #fff;
  line-height: 1.7;
  color: #fff;
}
img {
  width: 100%;
  height: 25%;
  object-fit: cover;
  object-position: center;
}
.container {
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
}

.panel {
  max-width: 38.3em;
  margin: 0 auto;
}

.text-next-shape {
  font-size: 1.4em;
  text-align: center;
  border: 0.2em solid orangered;
  border-bottom: none;
}
.score-block {
  width: 100%;
  height: 7.1em;
  padding: 0.3em;
  font-size: 1.4em;
  margin-bottom: 1em;
}

.wrap-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.2em solid orangered;
  padding: 0.7em;
}

.wrap-score-1 {
  border-bottom: none;
}

.text-next-shape,
.text-score-block,
.subtitle-score-block {
  text-transform: uppercase;
  font-weight: 600;
}

#nextFigure {
  width: 100%;
  height: 8.3em;
  background-color: #403d39;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border: 0.2em solid orangered;
  margin-bottom: 1.4em;
}

.main-area {
  width: 23.2em;
  height: 46em;
  background-color: #403d39;
  border: 0.2em solid orangered;
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
}
/*                      SIDEBAR                             */
.sidebar {
  position: relative;
  float: right;
  border: 0.2em solid orangered;
  width: 14.8em;
  background-color: #403d39;
  height: 46em;
  padding: 0.7em;
}

.btn {
  display: block;
  padding: 0.7em 3em;
  font-size: 1.3em;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );

  border: none;
  border-radius: 0.4em;
  font-weight: 900;
  margin: 0 auto 1em auto;
}
.btn:hover {
  background: linear-gradient(to bottom, #457b9d, #0096c7);
}
.btn:focus {
  outline: none;
}

/*                 arrow buttons                     */
.control-block {
  display: none;
  position: relative;
  width: 100%;
  height: 11.5em;
  border: 0.2em solid orangered;
  margin-top: 0.4em;
}

.arrow-btn {
  margin: 0px 0.2em 0 0.2em;
  background-color: #457b9d;

  border: none;
  border-radius: 0.5em;
  padding: 1.1em;
  box-shadow: 1px 1px 1px 1px #0096c7;
}
.arrow-btn:hover {
  transform: scale(1.1);
  background: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
.arrow-btn i {
  font-size: 1.3em;
  color: #fff;
}
#mob-arrow-up {
  position: absolute;
  top: 2%;
}

#mob-arrow-down {
  position: absolute;
  bottom: 3%;
}
.game-over {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: none;
}
.game-over .game-over-title,
.score-block-gameOver {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}

.game-over .game-over-title {
  font-size: 4em;
  font-family: cursive;
}

.score-block-gameOver {
  width: 80%;
  font-size: 2em;
  top: 55%;
}

.result-gameOver {
  text-align: center;
}

.squaresInMainArea {
  width: 2.2em;
  height: 2.2em;
  border-bottom: 0.1em solid black;
  border-right: 0.1em solid black;
}

.squaresNextShapeBlock {
  width: 1.5em;
  height: 1.5em;
  border-bottom: 0.1em solid black;
  border-right: 0.1em solid black;
}
